.authoriz {
  display: none;
  &__icon {
    margin-right: 8px;
    fill: currentColor;
    @media #{$desctop} {
      margin-right: 10px;
    }
  }

  @media #{$tablet} {
    display: block;
  }
  @media #{$desctop} {
    display: block;
    display: flex;
    gap: 50px;
    margin: 0 0 0 auto;
  }
  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    @media #{$desctop} {
      font-size: 14px;
      line-height: calc(16 / 14);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    @media #{$mobile} {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @media #{$desctop} {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    color: #757575;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: $accent-text;
    }
  }
}
