.clients {
  // @media #{$mobile} {
  padding: 60px 0;
  // }
  @media #{$desctop} {
    padding: 94px 0;
  }
  &__text {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text;
    // @media #{$mobile} {
    margin-bottom: 30px;
    // }
    @media #{$desctop} {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    // @media #{$mobile} {
    flex-wrap: wrap;
    // }
  }
  &__icon {
    fill: currentColor;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  // @media #{$mobile} {
  width: 210px;
  height: 92px;
  // }
  @media #{$tablet} {
    width: 226px;
    height: 92px;
  }
  @media #{$desctop} {
    width: 170px;
    height: 92px;
  }

  border: 1px solid $bg-icon-color;
  border-radius: 4px;
  cursor: pointer;
  color: $bg-icon-color;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-text;
    border-color: $accent-text;
  }
}
