.container {
  padding: 0 15px;
  margin: 0 auto;
  // outline: 2px solid red;
  @media #{$mobile} {
    width: 480px;
  }
  @media #{$tablet} {
    width: 768px;
  }
  @media #{$desctop} {
    width: 1200px;
  }
}
