.footer {
  padding: 60px 0;
  background-color: $bg-dark-color;

  &__group {
    @media #{$tablet} {
      display: flex;
      flex-wrap: wrap;
    }
    @media #{$desctop} {
      align-items: baseline;
      flex-wrap: nowrap;
    }
  }
  &__logo {
    text-align: center;
    display: block;
    margin-bottom: 28px;
    @media #{$desctop} {
      text-align: left;
      margin-right: 0px;
      margin-bottom: 20px;
      padding: 0;
    }
    color: $light-text;
  }
  &__contacts {
    @media #{$tablet} {
      padding-left: 76px;
    }
    @media #{$desctop} {
      padding-left: 0;
      text-align: left;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $light-text;
    @media #{$desctop} {
      text-align: left;
    }
  }
}
.address {
  &__link {
    text-align: center;
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    color: $light-alpha-06;
    margin-bottom: 12px;
    @media #{$desctop} {
      text-align: left;
      margin-bottom: 9px;
      line-height: calc(24 / 14);
    }
  }
  &__text {
    color: $light-text;

    // display: block;
  }
}
.footer-socials {
  padding: 48px 0 60px 0;
  @media #{$tablet} {
    margin-left: 165px;
    padding-top: 0;
  }
  @media #{$desctop} {
    margin-left: 70px;
  }
}

.social-list__link--dark {
  @extend .social-list__link;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe {
  @media #{$tablet} {
    margin: 60px auto 0 auto;
  }
  @media #{$desctop} {
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    @media #{$desctop} {
      display: flex;
    }
  }
  &__text {
    @media #{$desctop} {
      display: block;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.03em;
    }
    text-transform: uppercase;
    color: $light-text;
  }
}
.subscribe__field {
  display: block;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  @media #{$desctop} {
    width: 358px;
    padding-left: 16px;
    margin-right: 12px;
  }
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2195f300;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-text;
  }
}
.subscribe-btn {
  @extend .btn;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  @media #{$desctop} {
    display: flex;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}
