.header {
  border-bottom: 1px solid $header-line;
  &__logo {
    @media #{$mobile} {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media #{$tablet} {
      margin-right: 88px;
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media #{$desctop} {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}
.header-container {
  display: flex;
  align-items: center;
  @media #{$mobile} {
    justify-content: space-between;
  }
}
