.preference {
  padding: 60px 0;
  // padding: 94px 0 118px;
}

.preference__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  @media #{$tablet} {
    flex-direction: row;
    .preference__item {
      $items: 2;
      flex-basis: calc((100% - 30px * ($items - 1)) / ($items));
    }
  }
  @media #{$desctop} {
    .preference__item {
      $items: 4;
      flex-basis: calc((100% - 30px * ($items - 1)) / ($items));
    }
  }
}
.preference__icon-thumb {
  max-width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: $bg-icon-preference;
  border-radius: 4px;

  // width: 270px;
}
.preference__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.preference__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $secondary-text;
}
