//------fonts-----
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
//------text colors-----
$primary-text: #212121;
$secondary-text: #757575;
$accent-text: #2196f3;
$dark-text: #000000;
$light-text: #ffffff;
$light-alpha-06: rgba(255, 255, 255, 0.6);
//------BG COLORS-----
$bg-btn-active: #188ce8;
$bg-btn: #2196f3;
$bg-dark-color: #2f303a;
$header-line: #ececec;
$bg-icon-preference: #f5f4fa;
$bg-section-second: #f5f4fa;
$bg-icon-color: #afb1b8;
//  -----@media
$mobile: 'screen and (min-width: 480px)';
$tablet: 'screen and (min-width: 768px)';
$desctop: 'screen and (min-width: 1200px)';
